
  <div class="page page-ng-table">
  <div class="pageheader">
      <h2>{{page.title}} <span></span></h2>
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <a ui-sref="efinding.dashboard.generic"> {{main.title}}</a>
              </li>
              <li>
                  <a href="javascript:;">Usuarios</a>
              </li>
              <li>
                  <a ui-sref="efinding.users.passwords">{{page.title}}</a>
              </li>
          </ul>
      </div>
  </div>
  <div class="pagecontent">
      <div class="row">
          <div class="col-md-12">
              <section class="tile" fullscreen="isFullscreen06">
                  <h4 class="text-light text-{{page.msg.color}} " ng-show="page.msg.show"> {{page.msg.text}} </h4>
                  <div class="tile-body">
                      <table ng-table="tableParams" show-filter="true" class="table table-custom">
                          <tr ng-repeat="user in $data">
                              <td data-title="'Nombre'" sortable="'firstName'" filter="{ 'firstName': 'text' }">
                                  {{user.firstName}}
                              </td>
                              <td data-title="'Apellido'" sortable="'lastName'" filter="{ 'lastName': 'text' }">
                                  {{user.lastName}}
                              </td>
                              <td data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">
                                  {{user.email}}
                              </td>
                              <td data-title="'Nuevo Password'">
                                <div>
                                  <input type="password" class="col-md-5" ng-model="user.password">
                                  <button type="button" class="'btn btn-orange-ps col-md-3 col-md-offset-7'" ng-click="changePassword(user)">Cambiar</button>
                                </div>
                              </td>
                          </tr>
                      </table>
                  </div>
              </section>
          </div>
      </div>
  </div>
</div>
